body {margin-top: 0px;margin-left: 0px;}

#page_1 {position:relative; overflow: hidden;margin: 2px 0px 10px 2px;padding: 0px;border: none;width: 791px;height: 1111px;}
#page_1 #id_1 {border:none;margin: 130px 0px 0px 46px;padding: 0px;border:none;width: 745px;overflow: hidden;}
#page_1 #id_2 {border:none;margin: 0px 0px 0px 39px;padding: 0px;border:none;width: 745px;overflow: hidden;}
#page_1 #id_2 #id_2_1 {float:left;border:none;margin: 133px 0px 0px 0px;padding: 0px;border:none;width: 738px;overflow: hidden;}
#page_1 #id_2 #id_2_2 {float:left;border:none;margin: 0px 0px 0px 1px;padding: 0px;border:none;width: 6px;overflow: hidden;}

#page_1 #dimg1 {position:absolute;top:0px;left:0px;z-index:-1;width:761px;height:1111px;}
#page_1 #dimg1 #img1 {width:761px;height:1111px;}




#page_2 {position:relative; overflow: hidden;margin: 33px 0px 0px 12px;padding: 0px;border: none;width: 781px;height: 1090px;}
#page_2 #id_1 {border:none;margin: 18px 0px 0px 120px;padding: 0px;border:none;width: 661px;overflow: hidden;}
#page_2 #id_2 {border:none;margin: 14px 0px 0px 41px;padding: 0px;border:none;width: 688px;overflow: hidden;}
#page_2 #id_2 #id_2_1 {float:left;border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 405px;overflow: hidden;}
#page_2 #id_2 #id_2_2 {float:left;border:none;margin: 29px 0px 0px 7px;padding: 0px;border:none;width: 8px;overflow: hidden;}
#page_2 #id_2 #id_2_3 {float:left;border:none;margin: 28px 0px 0px 19px;padding: 0px;border:none;width: 249px;overflow: hidden;}
#page_2 #id_3 {border:none;margin: 14px 0px 0px 52px;padding: 0px;border:none;width: 729px;overflow: hidden;}
#page_2 #id_4 {border:none;margin: 25px 0px 0px 52px;padding: 0px;border:none;width: 654px;overflow: hidden;}

#page_2 #dimg1 {position:absolute;top:0px;left:0px;z-index:-1;width:774px;height:1090px;}
#page_2 #dimg1 #img1 {width:774px;height:1090px;}




#page_3 {position:relative; overflow: hidden;margin: 17px 0px 11px 48px;padding: 0px;border: none;width: 745px;}
#page_3 #id_1 {border:none;margin: 215px 0px 0px 0px;padding: 0px;border:none;width: 745px;overflow: hidden;}
#page_3 #id_2 {border:none;margin: 297px 0px 0px 683px;padding: 0px;border:none;width: 62px;overflow: hidden;}

#page_3 #dimg1 {position:absolute;top:0px;left:266px;z-index:-1;width:198px;height:92px;}
#page_3 #dimg1 #img1 {width:198px;height:92px;}




#page_4 {position:relative; overflow: hidden;margin: 11px 0px 10px 16px;padding: 0px;border: none;width: 777px;}
#page_4 #id_1 {border:none;margin: 23px 0px 0px 0px;padding: 0px;border:none;width: 777px;overflow: hidden;}
#page_4 #id_2 {border:none;margin: 20px 0px 0px 2px;padding: 0px;border:none;width: 761px;overflow: hidden;}

#page_4 #dimg1 {position:absolute;top:0px;left:298px;z-index:-1;width:456px;height:98px;}
#page_4 #dimg1 #img1 {width:456px;height:98px;}




#page_5 {position:relative; overflow: hidden;margin: 11px 0px 10px 0px;padding: 0px;border: none;width: 793px;}
#page_5 #id_1 {border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 793px;overflow: hidden;}
#page_5 #id_2 {border:none;margin: 5px 0px 0px 16px;padding: 0px;border:none;width: 777px;overflow: hidden;}
#page_5 #id_2 #id_2_1 {float:left;border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 375px;overflow: hidden;}
#page_5 #id_2 #id_2_2 {float:left;border:none;margin: 0px 0px 0px 12px;padding: 0px;border:none;width: 390px;overflow: hidden;}
#page_5 #id_3 {border:none;margin: 26px 0px 0px 18px;padding: 0px;border:none;width: 775px;overflow: hidden;}

#page_5 #dimg1 {position:absolute;top:0px;left:731px;z-index:-1;width:39px;height:28px;}
#page_5 #dimg1 #img1 {width:39px;height:28px;}




#page_6 {position:relative; overflow: hidden;margin: 11px 0px 10px 0px;padding: 0px;border: none;width: 793px;}
#page_6 #id_1 {border:none;margin: 23px 0px 0px 0px;padding: 0px;border:none;width: 793px;overflow: hidden;}
#page_6 #id_2 {border:none;margin: 5px 0px 0px 16px;padding: 0px;border:none;width: 777px;overflow: hidden;}
#page_6 #id_2 #id_2_1 {float:left;border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 388px;overflow: hidden;}
#page_6 #id_2 #id_2_2 {float:left;border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 389px;overflow: hidden;}
#page_6 #id_3 {border:none;margin: 25px 0px 0px 18px;padding: 0px;border:none;width: 761px;overflow: hidden;}

#page_6 #dimg1 {position:absolute;top:0px;left:314px;z-index:-1;width:456px;height:98px;}
#page_6 #dimg1 #img1 {width:456px;height:98px;}




#page_7 {position:relative; overflow: hidden;margin: 11px 0px 10px 0px;padding: 0px;border: none;width: 793px;}
#page_7 #id_1 {border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 793px;overflow: hidden;}
#page_7 #id_2 {border:none;margin: 5px 0px 0px 16px;padding: 0px;border:none;width: 777px;overflow: hidden;}
#page_7 #id_2 #id_2_1 {float:left;border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 387px;overflow: hidden;}
#page_7 #id_2 #id_2_2 {float:left;border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 390px;overflow: hidden;}
#page_7 #id_3 {border:none;margin: 26px 0px 0px 18px;padding: 0px;border:none;width: 775px;overflow: hidden;}

#page_7 #dimg1 {position:absolute;top:0px;left:731px;z-index:-1;width:39px;height:28px;}
#page_7 #dimg1 #img1 {width:39px;height:28px;}




#page_8 {position:relative; overflow: hidden;margin: 11px 0px 10px 0px;padding: 0px;border: none;width: 793px;}
#page_8 #id_1 {border:none;margin: 23px 0px 0px 0px;padding: 0px;border:none;width: 793px;overflow: hidden;}
#page_8 #id_2 {border:none;margin: 5px 0px 0px 16px;padding: 0px;border:none;width: 777px;overflow: hidden;}
#page_8 #id_2 #id_2_1 {float:left;border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 388px;overflow: hidden;}
#page_8 #id_2 #id_2_2 {float:left;border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 389px;overflow: hidden;}
#page_8 #id_3 {border:none;margin: 25px 0px 0px 18px;padding: 0px;border:none;width: 761px;overflow: hidden;}

#page_8 #dimg1 {position:absolute;top:0px;left:314px;z-index:-1;width:456px;height:98px;}
#page_8 #dimg1 #img1 {width:456px;height:98px;}




#page_9 {position:relative; overflow: hidden;margin: 11px 0px 10px 0px;padding: 0px;border: none;width: 793px;}
#page_9 #id_1 {border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 793px;overflow: hidden;}
#page_9 #id_2 {border:none;margin: 5px 0px 0px 16px;padding: 0px;border:none;width: 777px;overflow: hidden;}
#page_9 #id_2 #id_2_1 {float:left;border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 387px;overflow: hidden;}
#page_9 #id_2 #id_2_2 {float:left;border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 390px;overflow: hidden;}
#page_9 #id_3 {border:none;margin: 26px 0px 0px 18px;padding: 0px;border:none;width: 775px;overflow: hidden;}

#page_9 #dimg1 {position:absolute;top:0px;left:731px;z-index:-1;width:39px;height:28px;}
#page_9 #dimg1 #img1 {width:39px;height:28px;}




#page_10 {position:relative; overflow: hidden;margin: 11px 0px 10px 0px;padding: 0px;border: none;width: 793px;}
#page_10 #id_1 {border:none;margin: 23px 0px 0px 0px;padding: 0px;border:none;width: 793px;overflow: hidden;}
#page_10 #id_2 {border:none;margin: 5px 0px 0px 16px;padding: 0px;border:none;width: 777px;overflow: hidden;}
#page_10 #id_2 #id_2_1 {float:left;border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 388px;overflow: hidden;}
#page_10 #id_2 #id_2_2 {float:left;border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 389px;overflow: hidden;}
#page_10 #id_3 {border:none;margin: 25px 0px 0px 18px;padding: 0px;border:none;width: 761px;overflow: hidden;}

#page_10 #dimg1 {position:absolute;top:0px;left:314px;z-index:-1;width:456px;height:98px;}
#page_10 #dimg1 #img1 {width:456px;height:98px;}




#page_11 {position:relative; overflow: hidden;margin: 11px 0px 10px 0px;padding: 0px;border: none;width: 793px;}
#page_11 #id_1 {border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 793px;overflow: hidden;}
#page_11 #id_2 {border:none;margin: 5px 0px 0px 16px;padding: 0px;border:none;width: 777px;overflow: hidden;}
#page_11 #id_2 #id_2_1 {float:left;border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 387px;overflow: hidden;}
#page_11 #id_2 #id_2_2 {float:left;border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 390px;overflow: hidden;}
#page_11 #id_3 {border:none;margin: 26px 0px 0px 18px;padding: 0px;border:none;width: 775px;overflow: hidden;}

#page_11 #dimg1 {position:absolute;top:0px;left:731px;z-index:-1;width:39px;height:28px;}
#page_11 #dimg1 #img1 {width:39px;height:28px;}




#page_12 {position:relative; overflow: hidden;margin: 11px 0px 10px 0px;padding: 0px;border: none;width: 793px;}
#page_12 #id_1 {border:none;margin: 23px 0px 0px 0px;padding: 0px;border:none;width: 793px;overflow: hidden;}
#page_12 #id_2 {border:none;margin: 5px 0px 0px 16px;padding: 0px;border:none;width: 777px;overflow: hidden;}
#page_12 #id_2 #id_2_1 {float:left;border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 388px;overflow: hidden;}
#page_12 #id_2 #id_2_2 {float:left;border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 389px;overflow: hidden;}
#page_12 #id_3 {border:none;margin: 25px 0px 0px 18px;padding: 0px;border:none;width: 761px;overflow: hidden;}

#page_12 #dimg1 {position:absolute;top:0px;left:314px;z-index:-1;width:456px;height:98px;}
#page_12 #dimg1 #img1 {width:456px;height:98px;}




#page_13 {position:relative; overflow: hidden;margin: 11px 0px 10px 0px;padding: 0px;border: none;width: 793px;}
#page_13 #id_1 {border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 793px;overflow: hidden;}
#page_13 #id_2 {border:none;margin: 5px 0px 0px 16px;padding: 0px;border:none;width: 777px;overflow: hidden;}
#page_13 #id_2 #id_2_1 {float:left;border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 387px;overflow: hidden;}
#page_13 #id_2 #id_2_2 {float:left;border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 390px;overflow: hidden;}
#page_13 #id_3 {border:none;margin: 26px 0px 0px 18px;padding: 0px;border:none;width: 775px;overflow: hidden;}

#page_13 #dimg1 {position:absolute;top:0px;left:731px;z-index:-1;width:39px;height:28px;}
#page_13 #dimg1 #img1 {width:39px;height:28px;}




#page_14 {position:relative; overflow: hidden;margin: 11px 0px 10px 0px;padding: 0px;border: none;width: 793px;}
#page_14 #id_1 {border:none;margin: 23px 0px 0px 0px;padding: 0px;border:none;width: 793px;overflow: hidden;}
#page_14 #id_2 {border:none;margin: 5px 0px 0px 16px;padding: 0px;border:none;width: 777px;overflow: hidden;}
#page_14 #id_2 #id_2_1 {float:left;border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 388px;overflow: hidden;}
#page_14 #id_2 #id_2_2 {float:left;border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 389px;overflow: hidden;}
#page_14 #id_2 #id_2_2 #id_2_2_1 {border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 389px;overflow: hidden;}
#page_14 #id_2 #id_2_2 #id_2_2_2 {border:none;margin: 0px 0px 0px 3px;padding: 0px;border:none;width: 371px;overflow: hidden;}
#page_14 #id_2 #id_2_2 #id_2_2_2 #id_2_2_2_1 {float:left;border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 128px;overflow: hidden;}
#page_14 #id_2 #id_2_2 #id_2_2_2 #id_2_2_2_2 {float:left;border:none;margin: 0px 0px 0px 144px;padding: 0px;border:none;width: 99px;overflow: hidden;}
#page_14 #id_2 #id_2_2 #id_2_2_3 {border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 389px;overflow: hidden;}
#page_14 #id_3 {border:none;margin: 0px 0px 0px 16px;padding: 0px;border:none;width: 375px;overflow: hidden;}
#page_14 #id_4 {border:none;margin: 52px 0px 0px 18px;padding: 0px;border:none;width: 761px;overflow: hidden;}

#page_14 #dimg1 {position:absolute;top:0px;left:314px;z-index:-1;width:456px;height:98px;}
#page_14 #dimg1 #img1 {width:456px;height:98px;}




.dclr {clear:both;float:none;height:1px;margin:0px;padding:0px;overflow:hidden;}

.ft0{font: 5px 'Arial';color: #ffffff;line-height: 6px;}
.ft1{font: 16px 'Arial';line-height: 16px;}
.ft2{font: 16px 'Arial';line-height: 18px;}
.ft3{font: 9px 'Arial';text-decoration: underline;color: #009ebd;line-height: 12px;}
.ft4{font: bold 15px 'Arial';color: #2b7fb0;line-height: 18px;}
.ft5{font: bold 12px 'Arial';color: #2b7fb0;line-height: 15px;}
.ft6{font: 1px 'Arial';line-height: 1px;}
.ft7{font: bold 12px 'Arial';line-height: 15px;}
.ft8{font: 1px 'Arial';line-height: 2px;}
.ft9{font: bold 9px 'Arial';line-height: 11px;}
.ft10{font: 1px 'Arial';line-height: 3px;}
.ft11{font: bold 16px 'Arial';color: #2b7fb0;line-height: 19px;}
.ft12{font: 9px 'Arial';line-height: 12px;}
.ft13{font: 1px 'Arial';line-height: 13px;}
.ft14{font: 1px 'Arial';line-height: 12px;}
.ft15{font: 8px 'Arial';line-height: 10px;}
.ft16{font: bold 16px 'Arial';line-height: 21px;}
.ft17{font: 12px 'Arial';line-height: 15px;}
.ft18{font: 12px 'Arial';line-height: 14px;}
.ft19{font: 5px 'Arial';line-height: 6px;}
.ft20{font: bold 12px 'Arial';text-decoration: underline;color: #2b7fb0;line-height: 15px;}
.ft21{font: bold 13px 'Arial';line-height: 16px;}
.ft22{font: bold 9px 'Arial';color: #2b7fb0;line-height: 11px;}
.ft23{font: bold 8px 'Arial';color: #2b7fb0;line-height: 10px;}
.ft24{font: bold 8px 'Arial';line-height: 10px;}
.ft25{font: bold 7px 'Arial';line-height: 7px;}
.ft26{font: bold 7px 'Arial';color: #2b7fb0;line-height: 7px;}
.ft27{font: 1px 'Arial';line-height: 4px;}
.ft28{font: 1px 'Arial';line-height: 6px;}
.ft29{font: 1px 'Arial';line-height: 5px;}
.ft30{font: bold 6px 'Arial';line-height: 6px;}
.ft31{font: 6px 'Arial';line-height: 6px;}
.ft32{font: 7px 'Arial';line-height: 7px;}
.ft33{font: 12px 'Arial';margin-left: 10px;line-height: 14px;}
.ft34{font: italic 12px 'Arial';line-height: 15px;}
.ft35{font: bold 12px 'Arial';color: #2b7fb0;margin-left: 20px;line-height: 15px;}
.ft36{font: 12px 'Arial';margin-left: 11px;line-height: 14px;}
.ft37{font: 12px 'Arial';margin-left: 11px;line-height: 15px;}
.ft38{font: bold 12px 'Arial';color: #2b7fb0;line-height: 14px;}
.ft39{font: 12px 'Arial';margin-left: 5px;line-height: 14px;}
.ft40{font: 12px 'Arial';text-decoration: underline;color: #2b7fb0;line-height: 14px;}
.ft41{font: 12px 'Arial';margin-left: 5px;line-height: 15px;}
.ft42{font: bold 13px 'Arial';color: #2b7fb0;line-height: 16px;}
.ft43{font: bold 11px 'Arial';line-height: 14px;}
.ft44{font: bold 11px 'Arial';color: #2b7fb0;line-height: 14px;}
.ft45{font: 11px 'Arial';line-height: 14px;}
.ft46{font: 13px 'Arial';line-height: 16px;}
.ft47{font: 11px 'Arial';line-height: 14px;}
.ft48{font: 13px 'Arial';text-decoration: underline;line-height: 17px;}
.ft49{font: 13px 'Arial';line-height: 17px;}
.ft50{font: bold 15px 'Arial';line-height: 18px;}
.ft51{font: 9px 'Arial';line-height: 11px;}
.ft52{font: 9px 'Arial';line-height: 10px;}
.ft53{font: 13px 'Arial';line-height: 16px;}
.ft54{font: bold 15px 'Arial';line-height: 18px;}
.ft55{font: 1px 'Arial';line-height: 11px;}
.ft56{font: 1px 'Arial';line-height: 10px;}
.ft57{font: 9px 'Arial';line-height: 9px;}
.ft58{font: bold 19px 'Arial';color: #2b7fb0;line-height: 22px;}

.p0{text-align: left;margin-top: 0px;margin-bottom: 0px;}
.p1{text-align: left;padding-left: 382px;padding-right: 124px;margin-top: 0px;margin-bottom: 0px;}
.p2{text-align: left;padding-left: 382px;margin-top: 4px;margin-bottom: 0px;}
.p3{text-align: left;margin-top: 4px;margin-bottom: 0px;}
.p4{text-align: left;padding-left: 7px;margin-top: 50px;margin-bottom: 0px;}
.p5{text-align: left;padding-left: 10px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p6{text-align: left;padding-left: 5px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p7{text-align: left;padding-left: 32px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p8{text-align: left;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p9{text-align: right;padding-right: 48px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p10{text-align: right;padding-right: 6px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p11{text-align: right;padding-right: 1px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p12{text-align: right;padding-right: 4px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p13{text-align: left;padding-left: 16px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p14{text-align: right;padding-right: 5px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p15{text-align: left;padding-left: 7px;margin-top: 5px;margin-bottom: 0px;}
.p16{text-align: left;padding-left: 12px;padding-right: 125px;margin-top: 4px;margin-bottom: 0px;}
.p17{text-align: left;padding-left: 12px;margin-top: 3px;margin-bottom: 0px;}
.p18{text-align: left;padding-left: 12px;margin-top: 14px;margin-bottom: 0px;}
.p19{text-align: justify;padding-left: 0px;padding-right: 44px;margin-top: 269px;margin-bottom: 0px;}
.p20{text-align: justify;padding-left: 0px;margin-top: 0px;margin-bottom: 0px;}
.p21{text-align: justify;padding-left: 0px;padding-right: 218px;margin-top: 0px;margin-bottom: 0px;}
.p22{text-align: justify;padding-left: 0px;padding-right: 44px;margin-top: 0px;margin-bottom: 0px;}
.p23{text-align: left;margin-top: 0px;margin-bottom: 0px;-webkit-transform: rotate(270deg);-moz-transform: rotate(270deg);filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);direction: rtl;block-progression: lr;width:767px;height:6px;}
.p24{text-align: right;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p25{text-align: left;padding-left: 23px;margin-top: 10px;margin-bottom: 0px;}
.p26{text-align: left;padding-left: 8px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p27{text-align: left;padding-left: 4px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p28{text-align: left;padding-left: 12px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p29{text-align: right;padding-right: 7px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p30{text-align: right;padding-right: 22px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p31{text-align: right;padding-right: 25px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p32{text-align: right;padding-right: 8px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p33{text-align: left;padding-left: 15px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p34{text-align: left;padding-left: 23px;margin-top: 3px;margin-bottom: 0px;}
.p35{text-align: left;padding-left: 23px;margin-top: 7px;margin-bottom: 0px;}
.p36{text-align: left;padding-right: 6px;margin-top: 0px;margin-bottom: 0px;}
.p37{text-align: left;padding-right: 15px;margin-top: 18px;margin-bottom: 0px;}
.p38{text-align: left;padding-right: 9px;margin-top: 9px;margin-bottom: 0px;}
.p39{text-align: justify;padding-left: 15px;padding-right: 29px;margin-top: 0px;margin-bottom: 0px;text-indent: -15px;}
.p40{text-align: left;padding-left: 15px;padding-right: 18px;margin-top: 0px;margin-bottom: 0px;text-indent: -15px;}
.p41{text-align: left;padding-left: 15px;margin-top: 0px;margin-bottom: 0px;}
.p42{text-align: justify;padding-left: 33px;padding-right: 93px;margin-top: 0px;margin-bottom: 0px;text-indent: -27px;}
.p43{text-align: justify;padding-left: 33px;padding-right: 113px;margin-top: 5px;margin-bottom: 0px;text-indent: -27px;}
.p44{text-align: left;padding-left: 165px;margin-top: 17px;margin-bottom: 0px;}
.p45{text-align: left;padding-left: 4px;margin-top: 14px;margin-bottom: 0px;}
.p46{text-align: justify;padding-left: 19px;padding-right: 115px;margin-top: 0px;margin-bottom: 0px;text-indent: -15px;}
.p47{text-align: justify;padding-left: 4px;margin-top: 0px;margin-bottom: 0px;}
.p48{text-align: left;padding-left: 15px;margin-top: 61px;margin-bottom: 0px;}
.p49{text-align: left;padding-right: 121px;margin-top: 12px;margin-bottom: 0px;}
.p50{text-align: justify;padding-left: 23px;margin-top: 0px;margin-bottom: 0px;}
.p51{text-align: left;padding-left: 38px;padding-right: 79px;margin-top: 0px;margin-bottom: 0px;text-indent: -15px;}
.p52{text-align: justify;padding-left: 38px;padding-right: 85px;margin-top: 0px;margin-bottom: 0px;text-indent: -15px;}
.p53{text-align: left;padding-right: 64px;margin-top: 9px;margin-bottom: 0px;}
.p54{text-align: left;padding-left: 68px;margin-top: 58px;margin-bottom: 0px;}
.p55{text-align: left;padding-left: 38px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p56{text-align: left;padding-left: 106px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p57{text-align: left;padding-left: 5px;margin-top: 10px;margin-bottom: 0px;}
.p58{text-align: left;padding-left: 5px;margin-top: 8px;margin-bottom: 0px;}
.p59{text-align: left;padding-right: 637px;margin-top: 0px;margin-bottom: 0px;}
.p60{text-align: left;padding-left: 241px;margin-top: 109px;margin-bottom: 0px;}
.p61{text-align: left;padding-left: 2px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p62{text-align: center;padding-right: 3px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p63{text-align: center;padding-left: 2px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p64{text-align: center;padding-left: 4px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p65{text-align: center;padding-right: 14px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p66{text-align: center;padding-left: 8px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p67{text-align: right;padding-right: 2px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p68{text-align: left;padding-left: 14px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p69{text-align: left;padding-left: 3px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p70{text-align: center;padding-left: 3px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p71{text-align: center;padding-right: 1px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p72{text-align: center;padding-right: 13px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p73{text-align: center;padding-left: 6px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p74{text-align: center;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p75{text-align: center;padding-right: 12px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p76{text-align: left;padding-left: 16px;margin-top: 0px;margin-bottom: 0px;}
.p77{text-align: right;padding-right: 266px;margin-top: 183px;margin-bottom: 0px;}
.p78{text-align: center;padding-left: 20px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p79{text-align: center;padding-left: 15px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p80{text-align: center;padding-left: 18px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p81{text-align: center;padding-right: 44px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p82{text-align: left;padding-left: 21px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p83{text-align: left;padding-left: 52px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p84{text-align: center;padding-right: 46px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p85{text-align: left;padding-left: 4px;margin-top: 0px;margin-bottom: 0px;}
.p86{text-align: left;padding-left: 1px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p87{text-align: center;padding-right: 6px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p88{text-align: left;padding-left: 66px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p89{text-align: center;padding-right: 64px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p90{text-align: center;padding-left: 36px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p91{text-align: center;padding-right: 67px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p92{text-align: center;padding-left: 38px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p93{text-align: center;padding-right: 66px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p94{text-align: left;padding-left: 16px;padding-right: 637px;margin-top: 0px;margin-bottom: 0px;}
.p95{text-align: right;padding-right: 266px;margin-top: 109px;margin-bottom: 0px;}
.p96{text-align: center;padding-right: 4px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p97{text-align: center;padding-right: 65px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p98{text-align: center;padding-left: 39px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p99{text-align: right;padding-right: 14px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p100{text-align: right;padding-right: 15px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p101{text-align: center;padding-left: 14px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p102{text-align: center;padding-left: 12px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p103{text-align: center;padding-left: 10px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p104{text-align: center;padding-right: 23px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p105{text-align: center;padding-right: 20px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p106{text-align: left;padding-left: 4px;margin-top: 6px;margin-bottom: 0px;}
.p107{text-align: right;padding-right: 10px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p108{text-align: center;padding-left: 1px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p109{text-align: center;padding-left: 5px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p110{text-align: left;padding-left: 7px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}

.td0{padding: 0px;margin: 0px;width: 220px;vertical-align: bottom;}
.td1{padding: 0px;margin: 0px;width: 199px;vertical-align: bottom;}
.td2{padding: 0px;margin: 0px;width: 225px;vertical-align: bottom;}
.td3{padding: 0px;margin: 0px;width: 54px;vertical-align: bottom;}
.td4{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 220px;vertical-align: bottom;}
.td5{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 199px;vertical-align: bottom;}
.td6{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 225px;vertical-align: bottom;}
.td7{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 54px;vertical-align: bottom;}
.td8{padding: 0px;margin: 0px;width: 419px;vertical-align: bottom;}
.td9{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 419px;vertical-align: bottom;}
.td10{padding: 0px;margin: 0px;width: 97px;vertical-align: bottom;}
.td11{padding: 0px;margin: 0px;width: 15px;vertical-align: bottom;}
.td12{padding: 0px;margin: 0px;width: 124px;vertical-align: bottom;}
.td13{padding: 0px;margin: 0px;width: 136px;vertical-align: bottom;}
.td14{padding: 0px;margin: 0px;width: 83px;vertical-align: bottom;}
.td15{padding: 0px;margin: 0px;width: 53px;vertical-align: bottom;}
.td16{padding: 0px;margin: 0px;width: 48px;vertical-align: bottom;}
.td17{padding: 0px;margin: 0px;width: 35px;vertical-align: bottom;}
.td18{padding: 0px;margin: 0px;width: 248px;vertical-align: bottom;}
.td19{padding: 0px;margin: 0px;width: 8px;vertical-align: bottom;}
.td20{border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 203px;vertical-align: bottom;}
.td21{border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 221px;vertical-align: bottom;}
.td22{border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 264px;vertical-align: bottom;}
.td23{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 203px;vertical-align: bottom;}
.td24{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 221px;vertical-align: bottom;}
.td25{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 264px;vertical-align: bottom;}
.td26{padding: 0px;margin: 0px;width: 203px;vertical-align: bottom;}
.td27{padding: 0px;margin: 0px;width: 221px;vertical-align: bottom;}
.td28{padding: 0px;margin: 0px;width: 264px;vertical-align: bottom;}
.td29{padding: 0px;margin: 0px;width: 424px;vertical-align: bottom;}
.td30{padding: 0px;margin: 0px;width: 7px;vertical-align: bottom;}
.td31{padding: 0px;margin: 0px;width: 514px;vertical-align: bottom;}
.td32{padding: 0px;margin: 0px;width: 46px;vertical-align: bottom;}
.td33{padding: 0px;margin: 0px;width: 68px;vertical-align: bottom;}
.td34{padding: 0px;margin: 0px;width: 521px;vertical-align: bottom;}
.td35{padding: 0px;margin: 0px;width: 386px;vertical-align: bottom;}
.td36{padding: 0px;margin: 0px;width: 292px;vertical-align: bottom;}
.td37{border-top: #2b7fb0 1px solid;padding: 0px;margin: 0px;width: 210px;vertical-align: bottom;}
.td38{border-top: #2b7fb0 1px solid;padding: 0px;margin: 0px;width: 56px;vertical-align: bottom;}
.td39{border-top: #2b7fb0 1px solid;padding: 0px;margin: 0px;width: 65px;vertical-align: bottom;}
.td40{border-top: #2b7fb0 1px solid;padding: 0px;margin: 0px;width: 42px;vertical-align: bottom;}
.td41{padding: 0px;margin: 0px;width: 14px;vertical-align: bottom;}
.td42{padding: 0px;margin: 0px;width: 2px;vertical-align: bottom;}
.td43{padding: 0px;margin: 0px;width: 29px;vertical-align: bottom;}
.td44{padding: 0px;margin: 0px;width: 45px;vertical-align: bottom;}
.td45{padding: 0px;margin: 0px;width: 69px;vertical-align: bottom;}
.td46{padding: 0px;margin: 0px;width: 67px;vertical-align: bottom;}
.td47{padding: 0px;margin: 0px;width: 56px;vertical-align: bottom;}
.td48{padding: 0px;margin: 0px;width: 65px;vertical-align: bottom;}
.td49{padding: 0px;margin: 0px;width: 28px;vertical-align: bottom;}
.td50{padding: 0px;margin: 0px;width: 44px;vertical-align: bottom;}
.td51{padding: 0px;margin: 0px;width: 713px;vertical-align: bottom;}
.td52{border-top: #2b7fb0 1px solid;padding: 0px;margin: 0px;width: 207px;vertical-align: bottom;}
.td53{border-top: #2b7fb0 1px solid;padding: 0px;margin: 0px;width: 95px;vertical-align: bottom;}
.td54{border-top: #2b7fb0 1px solid;padding: 0px;margin: 0px;width: 73px;vertical-align: bottom;}
.td55{padding: 0px;margin: 0px;width: 207px;vertical-align: bottom;}
.td56{padding: 0px;margin: 0px;width: 95px;vertical-align: bottom;}
.td57{padding: 0px;margin: 0px;width: 71px;vertical-align: bottom;}
.td58{padding: 0px;margin: 0px;width: 73px;vertical-align: bottom;}
.td59{border-bottom: #2b7fb0 1px solid;padding: 0px;margin: 0px;width: 207px;vertical-align: bottom;}
.td60{border-bottom: #2b7fb0 1px solid;padding: 0px;margin: 0px;width: 95px;vertical-align: bottom;}
.td61{border-bottom: #2b7fb0 1px solid;padding: 0px;margin: 0px;width: 71px;vertical-align: bottom;}
.td62{padding: 0px;margin: 0px;width: 24px;vertical-align: bottom;}
.td63{padding: 0px;margin: 0px;width: 49px;vertical-align: bottom;}
.td64{padding: 0px;margin: 0px;width: 131px;vertical-align: bottom;}
.td65{padding: 0px;margin: 0px;width: 129px;vertical-align: bottom;}
.td66{padding: 0px;margin: 0px;width: 38px;vertical-align: bottom;}
.td67{border-top: #2b7fb0 1px solid;padding: 0px;margin: 0px;width: 256px;vertical-align: bottom;}
.td68{border-top: #2b7fb0 1px solid;padding: 0px;margin: 0px;width: 117px;vertical-align: bottom;}
.td69{padding: 0px;margin: 0px;width: 25px;vertical-align: bottom;}
.td70{border-top: #2b7fb0 1px solid;padding: 0px;margin: 0px;width: 255px;vertical-align: bottom;}
.td71{border-top: #2b7fb0 1px solid;padding: 0px;margin: 0px;width: 118px;vertical-align: bottom;}
.td72{padding: 0px;margin: 0px;width: 706px;vertical-align: bottom;}
.td73{padding: 0px;margin: 0px;width: 55px;vertical-align: bottom;}
.td74{border-top: #2b7fb0 1px solid;padding: 0px;margin: 0px;width: 247px;vertical-align: bottom;}
.td75{border-top: #2b7fb0 1px solid;padding: 0px;margin: 0px;width: 126px;vertical-align: bottom;}
.td76{padding: 0px;margin: 0px;width: 58px;vertical-align: bottom;}
.td77{border-top: #2b7fb0 1px solid;padding: 0px;margin: 0px;width: 288px;vertical-align: bottom;}
.td78{border-top: #2b7fb0 1px solid;padding: 0px;margin: 0px;width: 85px;vertical-align: bottom;}
.td79{border-top: #2b7fb0 1px solid;padding: 0px;margin: 0px;width: 144px;vertical-align: bottom;}
.td80{border-top: #2b7fb0 1px solid;padding: 0px;margin: 0px;width: 66px;vertical-align: bottom;}
.td81{border-top: #2b7fb0 1px solid;padding: 0px;margin: 0px;width: 59px;vertical-align: bottom;}
.td82{border-top: #2b7fb0 1px solid;padding: 0px;margin: 0px;width: 41px;vertical-align: bottom;}
.td83{padding: 0px;margin: 0px;width: 66px;vertical-align: bottom;}
.td84{padding: 0px;margin: 0px;width: 59px;vertical-align: bottom;}
.td85{padding: 0px;margin: 0px;width: 41px;vertical-align: bottom;}
.td86{padding: 0px;margin: 0px;width: 39px;vertical-align: bottom;}
.td87{border-bottom: #2b7fb0 1px solid;padding: 0px;margin: 0px;width: 29px;vertical-align: bottom;}
.td88{border-bottom: #2b7fb0 1px solid;padding: 0px;margin: 0px;width: 44px;vertical-align: bottom;}
.td89{border-bottom: #2b7fb0 1px solid;padding: 0px;margin: 0px;width: 66px;vertical-align: bottom;}
.td90{border-bottom: #2b7fb0 1px solid;padding: 0px;margin: 0px;width: 59px;vertical-align: bottom;}
.td91{border-bottom: #2b7fb0 1px solid;padding: 0px;margin: 0px;width: 65px;vertical-align: bottom;}
.td92{border-bottom: #2b7fb0 1px solid;padding: 0px;margin: 0px;width: 39px;vertical-align: bottom;}
.td93{padding: 0px;margin: 0px;width: 269px;vertical-align: bottom;}
.td94{padding: 0px;margin: 0px;width: 144px;vertical-align: bottom;}
.td95{padding: 0px;margin: 0px;width: 210px;vertical-align: bottom;}

.tr0{height: 21px;}
.tr1{height: 17px;}
.tr2{height: 2px;}
.tr3{height: 20px;}
.tr4{height: 23px;}
.tr5{height: 3px;}
.tr6{height: 22px;}
.tr7{height: 13px;}
.tr8{height: 12px;}
.tr9{height: 14px;}
.tr10{height: 11px;}
.tr11{height: 33px;}
.tr12{height: 15px;}
.tr13{height: 9px;}
.tr14{height: 8px;}
.tr15{height: 7px;}
.tr16{height: 4px;}
.tr17{height: 10px;}
.tr18{height: 6px;}
.tr19{height: 24px;}
.tr20{height: 16px;}
.tr21{height: 5px;}
.tr22{height: 18px;}
.tr23{height: 19px;}
.tr24{height: 25px;}
.tr25{height: 30px;}
.tr26{height: 27px;}

.t0{width: 698px;margin-left: 7px;margin-top: 4px;font: bold 12px 'Arial';color: #2b7fb0;}
.t1{width: 296px;margin-left: 19px;font: bold 12px 'Arial';color: #2b7fb0;}
.t2{width: 399px;margin-top: 7px;font: bold 7px 'Arial';}
.t3{width: 8px;font: bold 13px 'Arial';}
.t4{width: 8px;margin-top: 28px;font: bold 13px 'Arial';}
.t5{width: 8px;margin-top: 64px;font: bold 13px 'Arial';}
.t6{width: 688px;font: bold 13px 'Arial';}
.t7{width: 688px;font: 12px 'Arial';}
.t8{width: 678px;margin-left: 5px;margin-top: 9px;font: 13px 'Arial';}
.t9{width: 762px;margin-top: 5px;font: 9px 'Arial';}
.t10{width: 761px;font: 11px 'Arial';}
.t11{width: 375px;font: 9px 'Arial';}
.t12{width: 375px;font: 9px 'Arial';}
.t13{width: 371px;margin-left: 4px;font: 9px 'Arial';}
.t14{width: 373px;font: bold 13px 'Arial';color: #2b7fb0;}
.t15{width: 371px;margin-left: 3px;font: 9px 'Arial';}
.t16{width: 128px;font: 9px 'Arial';}
.t17{width: 99px;font: 9px 'Arial';}
.t18{width: 373px;font: bold 19px 'Arial';color: #2b7fb0;}